<%- include('../../partials/header'); %>
<%- include('../../partials/navbar'); %>

<div class="container mt-4">
    <h2 class="mb-4">Register Student</h2>

    <form action="/students/save" method="POST">
        <div class="mb-3">
            <label for="name" class="form-label">Student name</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>

        <div class="mb-3">
            <label for="dateBirth" class="form-label">Date of Birth</label>
            <input type="date" class="form-control" id="dateBirth" name="dateBirth" required>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>

        <div class="mb-3">
            <label for="phone" class="form-label">Phone</label>
            <input type="text" class="form-control" id="phone" name="phone" required>
        </div>

        <div class="mb-3">
            <label for="certified" class="form-label">Certified</label>
            <select class="form-control" id="certified" name="certified" required>
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select>
        </div>

        

        <button type="submit" class="btn btn-dark">Register</button>
    </form>
</div>

<%- include('../../partials/footer'); %>