<%- include('../../partials/header'); %>
<%- include('../../partials/navbar'); %>

<div class="container mt-4">
    <h2 class="mb-4">Register Course</h2>

    <form action="/courses/save" method="POST">
        <div class="mb-3">
            <label for="name" class="form-label">Course name</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>

        <div class="mb-3">
            <label for="workload" class="form-label">Workload</label>
            <input type="number" class="form-control" id="workload" name="workload" required>
        </div>

        <button type="submit" class="btn btn-dark">Register</button>
    </form>
</div>

<%- include('../../partials/footer'); %>