<%- include('../../partials/header'); %>
<%- include('../../partials/navbar'); %>

<div class="container">
    <hr>
    <div class="card mt-4">
        <div class="card-header">
            <h2>Criar usuario</h2>
            <div class="card-body">
                <form action="/users/create" method="post">
                    <input class="form-control" name="email" type="email" placeholder="email">
                    <br>
                    <input class="form-control" name="password" type="password" placeholder="password">
                    <br>
                    <button type="submit" class="btn btn-success">Create</button>
                </form>
            </div>
        </div>
    </div>
</div>

<%- include('../../partials/footer'); %>